.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swipper-slide {
  width: 100%;
  height: 100%;
  display: none; /* Hide all by default */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.8s ease-in-out;
}

.swipper-slide.active {
  display: block;
  z-index: 1;
  opacity: 1;
}

.swipper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrows */
.swipper-arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 2;
}

.swipper-arrows .left,
.swipper-arrows .right {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: #fffaf0;
  font-size: 30px;
  transition: background-color 0.3s;
}

.swipper-arrows .left:hover,
.swipper-arrows .right:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
